blockquote{
    border-left: 5px solid #4db6ac;
}

.btn-flat.boton-eliminar {
    display: inline;
    width: 3%;
    margin: auto;
    margin-right: 1%;
    box-sizing: border-box;
    padding: 0;
    margin-top: 1%;
}

div.contenido-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    min-height: 81.4vh;
}

/* ----------------------------- MEDIAQUERIES ----------------------------- */


@media (max-width: 502px) {

    .tituloCart {
        text-align: center;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}

@media (max-width: 375px) {

    .contenedor .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .waves-light {
        width: 100%;
    }
}