section.card.small {
    height: 185px;
}

blockquote{
    border-left: 5px solid #4db6ac;
    padding: 2%;
    width: 80%;
    margin: 0;
}

.btn-flat.boton-eliminar {
    display: inline;
    width: 3%;
    margin: auto;
    margin-right: 1%;
    box-sizing: border-box;
    padding: 0;
    margin-top: 1%;
}

div.contenido-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

section.card.horizontal div.card-stacked {
    padding: 2%;
}

section.card form {
    text-align: end;
    width: 10%;
    position: absolute;
    right: 1%;
}

section.card form button {
    padding: 0;
}

p.precio-obra {
    margin: 2%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.container {
    min-height: 81.4vh;
}

p.artista {
    margin: 0;
}

.imagen-obra {
    width: 250px;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin: 0;
}

p.total-productos,
p.total-precio {
    margin: 2%;
}
/* ----------------------------- MEDIAQUERIES ----------------------------- */


@media (max-width: 502px) {

    .tituloCart {
        text-align: center;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card.imagen-obra {
        width: 120px;
    }
    
}

@media (max-width: 375px) {

    section.card.small {
        flex-direction: column;
        height: 200px;
    }

    .card.imagen-obra {
        width: 80%;
        height: 100%;
        margin: 5%;
    }

    .contenedor .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .waves-light {
        width: 100%;
    }
}