.piePagina {
    width: 100%;
    background-color: var(--tealdark);
    border-top: 1px solid #000;
    margin-bottom: 0;
}

.piePagina .caja-redes-ayuda-terminos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

/* .piePagina .caja-redes-ayuda-terminos .caja-redesSociales {
    
} */

.piePagina .caja-redes-ayuda-terminos .caja-redesSociales .redesSociales {
    text-decoration: none;
}

.piePagina .caja-redes-ayuda-terminos .caja-redesSociales .fab{
    font-size: 1.5rem;
}

.piePagina .caja-redes-ayuda-terminos .caja-redesSociales .fb:hover {
    color: #3b5998;
}

.piePagina .caja-redes-ayuda-terminos .caja-redesSociales .ig:hover{
    color: #DD2A7B;
}

.piePagina .caja-redes-ayuda-terminos .caja-redesSociales .wp:hover{
    color: #075e54;
}

.piePagina .caja-redes-ayuda-terminos a {
    color: #000;
    padding: 20px;
    font-size: 1rem;
    text-decoration: none;
}

.caja-copyright {
    width: 100%;
    display: flex;
    justify-content: center;
}

.caja-copyright .copyright {
    font-size: 1rem;
    color: #0000007a;
}
