.grilla-padre {
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
}

/*----------COLUMNA IZQ (filtros-busqueda)-------------*/

aside {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2%;
    position: relative;
}

.allPictures {
    font-size: 2em;
    font-weight: 300;
}

aside .collapsible {
    border: none;
    margin: 0;
    box-shadow: none;
}

.titulo-desplegable {
    background-color: transparent;
    border-bottom: none;
    font-weight: 600;
    justify-content: space-between;
}

form.buscador-artistas {
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    float: right;
}

.buscador-artistas div.autocomplete {
    display: flex;
    justify-content: end;
    width: 90%;
}

.buscador-artistas div input#myInput {
    border: none;
    height: 2rem;
    cursor: default;
    width: 80%;
    margin: 0;
}

.collapsible-header i.flechita {
    margin: 0;

}

.buscador-artistas label {
    cursor: pointer;
    width: 20%;
}

.autocomplete-items {
    position: relative;
    left: -10%;
}

.input-invisible {
    display: none;
}

.collapsible-body {
    padding-top: 0;
}

.collapsible-body ul li a {
    color: #727272;
}

.collapsible-body ul li a:hover {
    color: var(--tealdark);
    font-weight: 600;
}

/*---------- COLUMNA DERECHA (productos-resultados)-------------*/

div.col.container.derecha {
    width: 80%;
    max-width: 1400px;
}

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.col.derecha {
    margin-right: 2%;
    margin-top: 0%;
}

.gallery-title h3 {
    margin-top: 1.5%;
}

.precio {
    margin: 0px;
    font-size: 1.4em;
}

.autor {
    margin-left: 20px;
}

.info-cuadro {
    margin: 0;
}

.titulo-obra {
    text-align: center;
    font-weight: 700;
    margin: 10px 0px;
    font-size: 1.2em;
}

.boton-carrito {
    line-height: 0;
    margin: 0;
    color: var(--tealdark);
}

.toastYaAgregado{
    background-color: red;
    border-radius: 2%;
}

.toastNuevoItem{
    background-color: green;
    border-radius: 2%;
}


@media screen and (max-width: 767px) {
    main.grilla-padre {
        flex-direction: column;
    }

    main.grilla-padre aside.izquierda {
        margin-top: 10%;
        width: 100%;
    }

    aside.izquierda ul.collapsible li div.titulo-desplegable {
        justify-content: center;
    }

    .buscador-artistas div.autocomplete {
        width: 80%;
        margin: auto;
        justify-content: space-around;
    }

    .buscador-artistas div input#myInput {
        border-bottom: 1px solid #9e9e9e;
    }

    .buscador-artistas label {
        width: auto;
    }

    aside.izquierda ul.collapsible li .collapsible-body ul.listaArtistas{
        text-align: center;
    }

    .collapsible-body ul.listaArtistas li {
        padding: 2% 0;
    }

    main.grilla-padre div.derecha {
        width: 90%;
        margin: auto;
    }

    main.grilla-padre div.derecha div h3.allPictures {
        text-align: center;
    }
}

/*============*/

/* Masonry grid */
.masonry {
    transition: all .5s ease-in-out;
    column-gap: 30px;
    column-fill: initial;
}

/* Masonry item */
.masonry .brick {
    margin-bottom: 30px;
    display: inline-block;
    /* Fix the misalignment of items */
    vertical-align: top;
    /* Keep the item on the very top */
}

/* Masonry image effects */
.masonry .brick img {
    transition: all .5s ease-in-out;
    backface-visibility: hidden;
    /* Remove Image flickering on hover */
}

.masonry .brick:hover img {
    opacity: .75;
}

/* Bordered masonry */
.masonry.bordered {
    column-rule: 1px solid #eee;
    column-gap: 50px;
}

.masonry.bordered .brick {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #eee;
}

/* Gutterless masonry */
.masonry.gutterless {
    column-gap: 0;
}

.masonry.gutterless .brick {
    margin-bottom: 0;
}

/* Masonry on tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .masonry {
        column-count: 2;
    }
}

/* Masonry on big screens */
@media only screen and (min-width: 1024px) {
    .desc {
        font-size: 1.25em;
    }

    .intro {
        letter-spacing: 1px;
    }

    .masonry {
        column-count: 3;
    }
}