.grilla-padre {
    display: flex;
    justify-content: space-between;
}

/*----------COLUMNA IZQ (filtros-busqueda)-------------*/

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 2%;
    position: fixed;
}

aside .collapsible {
    border: none;
    margin: 0;
    box-shadow: none;
}

.titulo-desplegable {
    background-color: transparent;
    border-bottom: none;
    font-weight: 600;
}

.titulo-desplegable .flechita {
    margin-left: auto;
    margin-right: 2%;
}

.collapsible-body {
    padding-top: 0;
}

.collapsible-body ul li a {
    color: #727272;
}

.collapsible-body ul li a:hover {
    color: var(--tealdark);
    font-weight: 600;
}

/*---------- COLUMNA DERECHA (productos-resultados)-------------*/

.col .row {
    margin-left: 0;
    margin-right: 0;
}

.col.derecha {
    margin-right: 2%;
    margin-top: 0%;
}

.gallery-title h3 {
    margin-top: 1.5%;
}

.por-encima {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 100%;
    top: -65px;
    visibility: hidden;
}

.contenido-carta:hover .por-encima {
    visibility: visible;
}

.por-encima a {
    margin: 4%;
}

.por-encima a i {
    color: var(--tealdark);
}

.por-encima .precio {
    margin-left: 4%;
    width: 60%;
}

.por-debajo {
    position: relative;
    top: -65px;
}

.por-debajo h6 {
    font-weight: 600;
    margin-bottom: 0px;
}

.por-debajo p{
    margin-top: 0px;

}



/*

.caja-header{
    height: 50px;
}

.category-search{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 30px;
}

.category-form{
    width: 100%;
}

.search-bar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.searcher{
    width: 250px;
    background-color: rgb(176, 182, 176);
}


.categories{
    display: flex;
    justify-content: space-around;
}

.main-gallery{
    display: flex;
    color: #928d8a;
    height: 100%;
}
main h1{
    
    width:59px;
    font-size:60px;
    word-wrap: break-word;
    text-align:center;
    color: purple;
    
}

.gallery-products{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 1000px;
    
    background-color: rgb(56, 56, 94);
}

.gallery-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px;
    width: 250px;
    background-color: rgb(135, 159, 167);
    border: solid black 2px;
    color: black;
}

.gallery-product img{
    margin-top: 10px;
    width: 200px;
}

.product-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 200px;
}


.main-aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 250px;
    background-color: brown;
}
*/