* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    margin-top: 0;
}

/* ========================= MAIN ========================= */

.main {
    width: 100%;
}

.contenedor {
    width: auto;
}

.centrador {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg/arte3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
}

.contenedor .fondo-caja-titulo {
    width: 50%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor .fondo-caja-titulo .titulo {
    border: 25px solid var(--tealdark);
    font-weight: 300;
    padding: 20px;
    font-size: 7em;
    color: var(--white);
    margin-bottom: 15%;
}

/* ========================= SEPARADOR ========================= */

.separador-textura {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.separador-textura .centrador .frase {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--orangedark);
    text-align: center;
    line-height: 1.5em;
}

.antesDe-slider {
    background-color: #2E0E02;
    background-image: url('../images/features/mirandoArte.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* ========================= SLIDER DESTACADOS ========================= */
.contenedor-fondo-slider {
    background-color: var(--tealdark);
    height: 102vh;
    width: 100%;

}
.contenedor-fondo-slider .titulo-destacados {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin-top: 0;
    padding-top: 3.5%;
    line-height: 0;
    font-weight: 400;
}


.contenedor-fondo-slider .carousel {
    width: 100%;
    height: 80vh;
    
}

.contenedor-fondo-slider .carousel-item {
    width: 50%;
    display: flex;
    align-items: center;

}

.contenedor-fondo-slider .carousel-item .carousel-img {
    width: 100%;
}


/* BOTONES SIN USAR */

/* .botones-slider {
    display: flex;
    margin: 0 auto;
    width: 30%;
    justify-content: space-around;
} */
/* .botones-slider .next, .prev {
    padding:20px;
    background-color: var(--orangedark);
    border: 1px solid rgba(255, 255, 255, 0);
    color: var(--white);
    border-radius: 10px;
}

.botones-slider .next:hover, .prev:hover {
    background-color: var(--orangelight);
    border: 1px solid var(--tealdark);

} */

/* ========================= SEPARADOR ========================= */

.antesDe-comoFunciona {
    display: block;
    background-color: #2E0E02;
    background-image: url('../images/bg/arte1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}

/* ========================= COMO FUNCIONA ========================= */

.contenedor-comoFunciona {
    background-color: var(--tealdark);
    color: white;
}

.centrador-comoFunciona {
    display: flex;
    flex-direction: column;
}

.caja-subtitulo {
   width: 100%;
   text-align: center;
   margin-top: 2%;
}

.caja-subtitulo .subtitulo {
    font-size: 3rem;
    font-weight: 400;
}

.caja-comprar-vender {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
}

.caja-comprar-vender .caja-comprar {
    text-align: center;
    width: 30%;
    padding: 2%;
    position: relative;
    
}

.caja-comprar-vender .caja-comprar .subcaja-subtitulo {
    font-size: 2rem;
    font-weight: 600;
}

.caja-comprar-vender .caja-comprar .card {
    position: absolute;
    width: 100%;
    height: 20vh;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-comprar .card .adelante {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangelight);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-comprar-vender .caja-comprar .card .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangedark);
    color: var(--white);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-comprar-vender .caja-comprar .card:hover {
    transform: rotateY(180deg);
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-vender {
    text-align: center;
    width: 30%;
    padding: 2%;
    position: relative;
}

.caja-comprar-vender .caja-vender .card {
    position: absolute;
    width: 100%;
    height: 20vh;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-vender .card .adelante {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangelight);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;

}

.caja-comprar-vender .caja-vender .card .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangedark);
    color: var(--white);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;


}

.caja-comprar-vender .caja-vender .card:hover {
    transform: rotateY(180deg);
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-vender .subcaja-subtitulo {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.caja-comprar-vender .caja-comprar .texto-compraVenta {
    font-weight: 300;
    text-align: justify;
    padding: 0 40px;
}

.caja-comprar-vender .caja-vender .texto-compraVenta {
    font-weight: 300;
    text-align: justify;
    padding: 0 40px;
}

.centrador-comoFunciona .caja-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    margin-bottom: 8%;
}

.centrador-comoFunciona .caja-btn .fondo-btn {
    /* width: 10%; */
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    
}

.centrador-comoFunciona .caja-btn .fondo-btn:hover {
    background-color: var(--orangedark);
    cursor: pointer;
}

.centrador-comoFunciona .caja-btn .fondo-btn .a-btn-registrate {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.513);
    margin: auto;
    display: block;
    padding: 0 50px;
}

.centrador-comoFunciona .caja-btn .fondo-btn .a-btn-registrate:hover {
    color: var(--white);
}


/* =================== ARTICULOS DE INTERES =================== */

.contenedor-articulosInteres {
    background-color: var(--orangedark);
    display: flex;
    flex-direction: column;
}

/* .centrador-articulosInteres {} */

.caja-subtitulo .subt-articulos {
    color: #fff;
    font-weight: 400;
}

.caja-articulos {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.caja-articulos .articulo {
    width: 30%;
    margin: 0 30px;
    /* border: 2px solid green; */
    /* padding: 10px; */
}

.caja-articulos .articulo .a-img-articulo  {
    padding: 5px;
}

.caja-articulos .articulo .a-img-articulo:hover {
    padding: 5px;
}

.caja-articulos .articulo .a-img-articulo .img-1 {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 87%, 0 87%);
    overflow: hidden;
}
.caja-articulos .articulo .a-img-articulo .img-2 {
    width: 100%;
}
.caja-articulos .articulo .a-img-articulo .img-3 {
    width: 100%;
}

.ir-seccion {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
    margin-bottom: 5%;
}

.ir-seccion .a-ir-seccion {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}


/* =================== NOSOTROS =================== */

.contenedor-nosotros {
    background-color: var(--tealdark);
}

.contenedor-nosotros .centrador-nosotros {
    display: flex;
    flex-direction: column;
}

.contenedor-nosotros .centrador-nosotros .caja-subtitulo .sub-nosotros {
    color: var(--white);
    font-weight: 400;
}

.contenedor-nosotros .centrador-nosotros .caja-texto-nosotros {
    width: 80%;
    margin: auto;
    text-align: center;
}

.contenedor-nosotros .centrador-nosotros .caja-texto-nosotros .nosotros-texto {
    font-size: 1.3rem;
    line-height: 1.5em;
    color: var(--white);
    font-weight: 300;
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros {
    display: flex;
    justify-content: space-around;
    margin: 4% 0;
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona {
    width: 20%;
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona .img-persona {
    width: 100%;
}


/* =================== SEPARADOR =================== */

.antesDe-contactanos {
    background-color: #2E0E02;
    background-image: url('../images/bg/arte4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
    background-position: center;
}

/* =================== CONTACTANOS =================== */

.contenedor-contactanos {
    margin: 5%;
} 

.contenedor-contactanos .centrador-contactanos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-contactanos .centrador-contactanos .center-align {
    font-weight: 600;
}

.contenedor-contactanos .centrador-contactanos .labelForm {
    font-weight: 300;
}

.contenedor-contactanos .centrador-contactanos .btn-flat {
    text-align: center;
    display: block;
    background-color: var(--teallight);
    color: var(--tealdark);
    border: 1px solid #00000000;
}

.contenedor-contactanos .centrador-contactanos .btn-flat:hover {
    background-color: var(--tealdark);
    color: var(--white);
    border: 1px solid var(--tealdark)
}

/* ================================ MEDIA QUERIES ================================ */

