* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Hind', sans-serif;
    margin-top: 0;
}

h1, h3 {
    margin: 0;
}

/* ========================= MAIN ========================= */

.main {
    width: 100%;
}

.contenedor {
    width: auto;
}

.container {
    margin-top: 3%;
}

.centrador {
    /* width: 70%; */
    margin: auto;
    display: flex;
    justify-content: center;
}

.centrador-titulo {
    width: 70%;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('../images/bg/arte3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    height: 100vh;
    background-color: whitesmoke;
}



.contenedor .fondo-caja-titulo {
    width: 90%;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    /* border: 25px solid var(--tealdark); */
    margin-top: -5%;
}

.fade-in {
    animation: fadeIn ease 2.5s forwards;
    -moz-animation: fadeIn ease 2.5s forwards;
    -webkit-animation: fadeIn ease 2.5s forwards;
    -moz-animation: fadeIn ease 2.5s forwards;
    -o-animation: fadeIn ease 2.5s forwards;
    -ms-animation: fadeIn ease 2.5s forwards;
}

@keyframes fadeIn {
    0% {
        opacity:0;
        width: 0px;
    }

    50% {
        width: 90%;
        opacity:0.7;
    }

    100% {
        width: 90%;
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
        width: 0px;
        transform: translateY(-100px);
    }

    50% {
        width: 90%;
        opacity:0.7;
    }

    100% {
        width: 90%;
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        width: 0px;
        transform: translateY(-100px);
    }

    50% {
        width: 90%;
        opacity:0.7;
    }

    100% {
        width: 90%;
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
        width: 0px;
        transform: translateY(-100px);
    }

    50% {
        width: 90%;
        opacity:0.7;
    }

    100% {
        width: 90%;
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
        width: 0px;
        transform: translateY(-100px);
    }

    50% {
        width: 90%;
        opacity:0.7;
    }

    100% {
        width: 90%;
        opacity:1;
    }
}


.contenedor .fondo-caja-titulo .tituloPagina {
    /* transform: translateY(300deg) */
}

.contenedor .fondo-caja-titulo .tituloPagina2 {
    margin-left: 3%;
}

.contenedor .fondo-caja-titulo .titulo {
    font-weight: 300;
    font-size: 9em;
    color: var(--white);
    margin-top: 3%;
    margin-left: 3%;
}

/* ========================= SEPARADOR ========================= */

.separador-textura {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.separador-textura .centrador .frase {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--orangedark);
    text-align: center;
    line-height: 1.5em;
}

.antesDe-slider {
    background-color: #2E0E02;
    background-image: url('../images/features/mirandoArte.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* ========================= SLIDER DESTACADOS ========================= */

.contenedor-fondo-slider {
    background-color: var(--tealdark);
    height: 110vh;
    width: 100%;
}

.contenedor-fondo-slider .titulo-destacados {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin-top: 0;
    font-size: 3rem;
    line-height: 0;
    font-weight: 400;
    padding-top: 3.5%;
}


.contenedor-fondo-slider .carousel {
    width: 100%;
    height: 93vh;
    bottom: 20px;
}

.contenedor-fondo-slider .carousel-item {
    width: 50%;
    display: flex;
    align-items: center;

}

.contenedor-fondo-slider .carousel-item .carousel-img {
    width: 100%;
}


/* BOTONES SIN USAR */

/* .botones-slider {
    display: flex;
    margin: 0 auto;
    width: 30%;
    justify-content: space-around;
} */
/* .botones-slider .next, .prev {
    padding:20px;
    background-color: var(--orangedark);
    border: 1px solid rgba(255, 255, 255, 0);
    color: var(--white);
    border-radius: 10px;
}

.botones-slider .next:hover, .prev:hover {
    background-color: var(--orangelight);
    border: 1px solid var(--tealdark);

} */

/* ========================= SEPARADOR ========================= */

.antesDe-comoFunciona {
    display: block;
    background-color: #2E0E02;
    background-image: url('../images/bg/arte1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
}

/* ========================= COMO FUNCIONA ========================= */

.contenedor-comoFunciona {
    background-color: var(--tealdark);
    color: white;
}

.centrador-comoFunciona {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.caja-subtitulo {
   width: 100%;
   text-align: center;
   margin-top: 2%;
}

.caja-subtitulo .subtitulo {
    font-size: 3rem;
    font-weight: 400;
}

.caja-comprar-vender {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5%;
}

.caja-comprar-vender .caja-comprar {
    text-align: center;
    width: 30%;
    padding: 2%;
    position: relative;
    
}

.caja-comprar-vender .caja-comprar .subcaja-subtitulo {
    font-size: 2rem;
    font-weight: 600;
}

.caja-comprar-vender .caja-comprar .card {
    position: absolute;
    width: 100%;
    height: 20vh;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-comprar .card .adelante {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangelight);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.caja-comprar-vender .caja-comprar .card .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangedark);
    color: var(--white);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.caja-comprar-vender .caja-comprar .card:hover {
    transform: rotateY(180deg);
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-vender {
    text-align: center;
    width: 30%;
    padding: 2%;
    position: relative;
}

.caja-comprar-vender .caja-vender .card {
    position: absolute;
    width: 100%;
    height: 20vh;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: yellow;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-vender .card .adelante {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangelight);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.caja-comprar-vender .caja-vender .card .atras {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: var(--orangedark);
    color: var(--white);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-comprar-vender .caja-vender .card:hover {
    transform: rotateY(180deg);
    box-shadow: -10px 10px 5px 0px rgba(0,0,0,0.75);
}

.caja-comprar-vender .caja-vender .subcaja-subtitulo {
    font-size: 2rem;
    text-align: center;
    font-weight: 600;
}

.caja-comprar-vender .caja-comprar .texto-compraVenta {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--white);
}

.caja-comprar-vender .caja-vender .texto-compraVenta {
    font-weight: 300;
    font-size: 1.5rem;
    text-align: justify;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--white);
}

.centrador-comoFunciona .caja-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 5%;
}

.centrador-comoFunciona .caja-btn .fondo-btn {
    /* width: 10%; */
    border: 2px solid #fff;
    border-radius: 10px;
    text-align: center;
    
}

.centrador-comoFunciona .caja-btn .fondo-btn:hover {
    background-color: var(--orangedark);
    cursor: pointer;
}

.centrador-comoFunciona .caja-btn .fondo-btn .a-btn-registrate {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.513);
    margin: auto;
    display: block;
    padding: 20px 50px;
}

.centrador-comoFunciona .caja-btn .fondo-btn .a-btn-registrate:hover {
    color: var(--white);
}


/* =================== ARTICULOS DE INTERES =================== */

.contenedor-articulosInteres {
    background-color: var(--orangedark);
    display: flex;
    flex-direction: column;
}

/* .centrador-articulosInteres {} */

.caja-subtitulo .subt-articulos {
    color: #fff;
    font-weight: 400;
}

.caja-articulos {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.caja-articulos .articulo {
    width: 30%;
    margin: 0 30px;
    /* border: 2px solid green; */
    /* padding: 10px; */
}

.caja-articulos .articulo .a-img-articulo .img-1 {
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0, 100% 87%, 0 87%);
    overflow: hidden;
}
.caja-articulos .articulo .a-img-articulo .img-2 {
    width: 100%;
}
.caja-articulos .articulo .a-img-articulo .img-3 {
    width: 100%;
}

.ir-seccion {
    display: flex;
    justify-content: flex-end;
    margin-right: 4%;
    margin-bottom: 5%;
}

.ir-seccion .a-ir-seccion {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}


/* =================== NOSOTROS =================== */

.contenedor-nosotros {
    background-color: var(--tealdark);
}

.contenedor-nosotros .centrador-nosotros {
    display: flex;
    flex-direction: column;
}

.contenedor-nosotros .centrador-nosotros .caja-subtitulo .sub-nosotros {
    color: var(--white);
    font-weight: 400;
}

.contenedor-nosotros .centrador-nosotros .caja-texto-nosotros {
    width: 80%;
    margin: auto;
    text-align: center;
}

.contenedor-nosotros .centrador-nosotros .caja-texto-nosotros .nosotros-texto {
    font-size: 1.3rem;
    line-height: 1.5em;
    color: var(--white);
    font-weight: 300;
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros {
    display: flex;
    justify-content: space-around;
    margin: 4% 0;
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona {
    width: 15%;
    overflow: hidden;
    /* background-color: red; */
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona .img-persona {
    width: 100%;
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona .juan {
    clip-path: polygon(0 0, 100% 0, 100% 89.5%, 0 89.5%);
}

.contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona .facu {
    transform: scale(1.2);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
}


/* =================== SEPARADOR =================== */

.antesDe-contactanos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #2E0E02;
    background-image: url('../images/bg/arte4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    background-attachment: fixed;
    background-position: center;
}

/* =================== CONTACTANOS =================== */

.contenedor-contactanos {
    margin: 5%;
} 

.contenedor-contactanos .centrador-contactanos {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedor-contactanos .centrador-contactanos .center-align {
    font-weight: 600;
}

.contenedor-contactanos .centrador-contactanos .labelForm {
    font-weight: 300;
}

.contenedor-contactanos .centrador-contactanos .btn-flat {
    text-align: center;
    display: block;
    color: var(--tealdark);
    border: 1px solid #00000000;
    margin: auto;
}

.contenedor-contactanos .centrador-contactanos .btn-flat:hover {
    background-color: var(--tealdark);
    color: var(--white);
    border: 1px solid var(--tealdark)
}

/* ================================ MEDIA QUERIES ================================ */

@media (max-width: 1400px) {
    .centrador-titulo {
        width: 80%;
    }

    .centrador-comoFunciona .caja-btn .fondo-btn {
        margin-top: 4%;
    }

    .centrador-comoFunciona .caja-btn .fondo-btn .a-btn-registrate {
        padding: 0 30px;
    }

    .contenedor-fondo-slider .carousel {
        /* bottom: 6%; */
    }

}

@media (max-width: 1280px) {
    .centrador-titulo {
        width: 90%;
    }

    .contenedor-fondo-slider {
        height: 90vh;
    }

    .contenedor-fondo-slider .carousel {
        bottom: 15%;
    }
}

@media (max-width: 1024px) {

    .centrador-titulo {
        width: 100%;
    }

    .contenedor-fondo-slider .titulo-destacados {
        padding-top: 6.5%;
    }

    .contenedor .fondo-caja-titulo .titulo {
        padding: 10px;
    }

    .contenedor-fondo-slider {
        height: 70vh;
    }

    .contenedor-fondo-slider .carousel {
        bottom: 14%;
        height: 75vh;
    }

    .contenedor-fondo-slider .carousel-item {
        width: 40%;
    }

    .separador-textura {
        height: 20vh;
    }

    .centrador-comoFunciona .caja-btn .fondo-btn {
        margin-top: 10%;
    }

    .caja-comprar-vender .caja-comprar .subcaja-subtitulo {
        font-size: 1.5rem;
    }

    .caja-comprar-vender .caja-vender .subcaja-subtitulo {
        font-size: 1.5rem;
    }

    .caja-comprar-vender .caja-comprar .texto-compraVenta {
        font-size: 1.2rem;
    }

    .caja-comprar-vender .caja-vender .texto-compraVenta {
        font-size: 1.2rem;
    }

}

@media (max-width: 950px) {

    .contenedor .fondo-caja-titulo .titulo {
        padding: 8px;
    }

    .caja-articulos {
        flex-direction: column;
        align-items: center;
        margin-bottom: 5%;
    }

    .contenedor-fondo-slider .carousel {
        bottom: 25%;
        height: 100vh;
    }

    .caja-articulos .articulo {
        width: 70%;
    }

    .caja-articulos .articulo .a-img-articulo .img-articulo {
        margin: 2% 0;
    }

    .caja-articulos .articulo .a-img-articulo .img-1 {
        clip-path: none;
    }

    .contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros {
        margin-bottom: 5%;
    }


}


@media (max-width: 640px) {

    .contenedor .fondo-caja-titulo {
        width: 100%;
    }


    .centrador-comoFunciona {
        width: 100%;
    }

    .caja-comprar-vender {
        flex-direction: column;
        /* align-items: center; */
        display: block;
        margin-top: 0;
    }

    .caja-comprar-vender .caja-vender {
        width: 100%;
        display: block;
        position: static;
    }

    .caja-comprar-vender .caja-comprar {
        width: 100%;
        display: block;
        position: static;
    }

    .caja-comprar-vender .caja-comprar .card {
        width: 100%;
        position: initial;
    }
    .caja-comprar-vender .caja-vender .card {
        width: 100%;
        position: initial;
    }

    .caja-comprar-vender .caja-vender .subcaja-subtitulo {
        font-size: 3.5rem;
    }

    .caja-comprar-vender .caja-comprar .subcaja-subtitulo {
        font-size: 3.5rem;
    }

    .caja-comprar-vender .caja-vender .texto-compraVenta {
        font-size: 2rem;
        line-height: 30px;
    }

    .caja-comprar-vender .caja-comprar .texto-compraVenta {
        font-size: 2rem;
        line-height: 30px;
    }

    .centrador-comoFunciona .caja-btn {
        margin-top: 0;
    }

}

@media (max-width: 375px) {

    .contenedor .fondo-caja-titulo {
        width: 50%;
    }

    .separador-textura {
        height: 10vh;
    }

    .contenedor-fondo-slider .titulo-destacados {
        padding-top: 18.5%;
    }

    .separador-textura .centrador {
        width: 90%;
    }

    .separador-textura .centrador .frase {
        font-size: 1rem;
    }

    .centrador-comoFunciona .caja-btn .fondo-btn {
        margin-bottom: 10%;
    }

    .caja-articulos {
        margin-bottom: 10%;
    }

    .contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros {
        flex-direction: column;
        align-items: center;
        margin-bottom: 10%;
    }

    .contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona {
        width: 50%;
    }

    .contenedor-nosotros .centrador-nosotros .caja-imagenes-nosotros .img-perfil-persona .juan {
        /* clip-path: none; */
        position: relative;
        top: 30px;
    }
    

    .contenedor-fondo-slider {
        height: 60vh;
    }

    .contenedor-fondo-slider .carousel {
        bottom: 20%;
        height: 75vh;
    }

    .contenedor-fondo-slider .carousel-item {
        width: 40%;
    }

    .caja-comprar-vender {
        display: flex;
        align-items: center;
    }

    .caja-comprar-vender .caja-comprar {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .caja-comprar-vender .caja-vender {
        display: flex;
        justify-content: center;
        width: 90%;
    }

    .caja-comprar-vender .caja-comprar .card {
        width: 80%;
        position: initial;
    }
    .caja-comprar-vender .caja-vender .card {
        width: 80%;
        position: initial;
    }

    .caja-comprar-vender .caja-vender .texto-compraVenta {
        font-size: 1.6rem;
        line-height: 15px;
    }

    .caja-comprar-vender .caja-comprar .texto-compraVenta {
        font-size: 1.6rem;
        line-height: 15px;
    }

    .contenedor-contactanos .centrador-contactanos {
        margin: 10% 0;
    }

}