main.todo.container {
    min-height: 80vh;
}

.titulos-tabla {
    display: flex;
    justify-content: space-between;
}

.orden-titulo {
    display: flex;
    justify-content: space-around;
}

li.active div.collapsible-body.orden-contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li div.collapsible-body.orden-contenido span {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagen-producto {
    width: 60px;
    height: 60px;
    background-size: cover;
}

h6 .linkprofile {
    color: var(--tealdark);
    
}