* {
    padding: 0;
    margin: 0;
}

main {
    background-color: var(--tealdark);
}

/* ============================ SLIDER ============================ */

.caja-slider{

    background-color: var(--tealdark);
    width: 100%;
}

.caja-slider .carousel {
    width: 100%;
    height: 90vh;
    margin-top: 3%;
    
}

.caja-slider .carousel-item {
    width: 50%;
    display: flex;
    align-items: center;

}

.caja-slider .carousel-item .carousel-img {
    width: 100%;
}

/* ========================= PRECIO + DESCRIPCION + DATOS DEL USUARIO ========================= */

.contenedor-precio-descrip-user {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contenedor-precio-descrip-user .caja-precio {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.contenedor-precio-descrip-user .caja-precio .precio-carrito {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10%;
}

.contenedor-precio-descrip-user .caja-precio .precio-carrito .precio {
    margin-bottom: 0.6%;
    color: var(--white);
}

.contenedor-precio-descrip-user .caja-precio .precio-carrito .btn-agregarCarrito {
    border: 1px solid var(--white);
    background-color: var(--orangedark);
    padding: 10px;
    border-radius: 100%;
    box-shadow: none;
    padding: 20px;
}

.contenedor-precio-descrip-user .caja-precio .precio-carrito .btn-agregarCarrito:hover {
    background-color: var(--orangedark);
    color: var(--white);
    cursor: pointer;
}

.contenedor-precio-descrip-user .caja-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3%;
}

.contenedor-precio-descrip-user .caja-descripcion .caja-descripcion-titulo {
    text-align: center;
    width: 70%;
    color: var(--white);
}

.contenedor-precio-descrip-user .caja-descripcion .caja-descripcion-titulo .descripcion-titulo {
    font-size: 1.5rem;
}

.contenedor-precio-descrip-user .caja-descripcion .caja-texto-descriptivo {
    width: 60%;
    margin-top: 20px;
    color: var(--white);
}

.contenedor-precio-descrip-user .caja-descripcion .caja-texto-descriptivo .texto-descriptivo {
    line-height: 1.9;
}

.contenedor-precio-descrip-user .caja-datosUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    border: 2px solid var(--white);
    border-radius: 20px;
    width: 50%;
    color: var(--white);
}

.contenedor-precio-descrip-user .caja-datosUsuario .datosUsuario-titulo {
    font-size: 1.3rem;
}

.contenedor-precio-descrip-user .caja-datosUsuario .caja-texto-users {
    margin-top: 20px;
}

.contenedor-precio-descrip-user .caja-datosUsuario .caja-texto-users .texto-user1, .texto-user2, .texto-user3 {
    line-height: 1.9;
}

.contenedor-precio-descrip-user .caja-precio .cartel-pop-up {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 2%;
}

.contenedor-precio-descrip-user .caja-precio .cartel-pop-up .pop-up-fondo {
    width: 15%;
    background-color: var(--orangedark);
    border-radius: 20px;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: center;
}

.contenedor-precio-descrip-user .caja-precio .cartel-pop-up .pop-up-fondo .texto-pop-up {
    margin: auto;
    color: var(--white);
    font-size: 1.2rem;
    padding: 20px;
}

.contenedor-precio-descrip-user .btn-masCosasArtista {
    width: 20%;
    margin: 3% auto;
    font-size: 1.3rem;
    padding: 20px;
    border-radius: 50px;
    border-style: none;
    color: var(--orangedark);
    background-color: var(--white);
    border: 1px solid var(--orangedark);
}

.contenedor-precio-descrip-user .btn-masCosasArtista:hover {
    background-color: var(--orangedark);
    color: var(--white);
    border: 1px solid var(--white);
}

/* ========================= COMENTARIOS ========================= */


.contenedor-comentarios {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

.contenedor-comentarios .caja-comentarios-titulo {
    width: 100%;
    margin: 0 auto 2% auto;
}

.contenedor-comentarios .caja-comentarios-titulo .titulo-comentarios {
    font-size: 1.5rem;
    color: var(--white);
    
}

.contenedor-comentarios .caja-comentarios {
    width: 70%;
    margin-left: 5%;
}

.contenedor-comentarios .caja-comentarios .comentarioX {
    line-height: 1.5;
    color: var(--white);
}

.contenedor-comentarios .formulario-comentario {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2.2%;
}

.contenedor-comentarios .formulario-comentario .dejarComentario {
    border-radius: 20px;
    padding: 20px;
}

.contenedor-comentarios .formulario-comentario .enviarComentario {
    width: 15%;
    padding: 15px;
    border-radius: 20px;
    border-style: none;
    margin: 1% 83%;
    background: var(--white);
    color: var(--orangedark);
    font-size: 1.2rem;
}
.contenedor-comentarios .formulario-comentario .enviarComentario:hover {
    background: var(--orangedark);
    color: var(--white);
}

/* ========================= SUGERENCIAS ========================= */


.contenedor-sugerencias {
    width: 60%;
    margin: auto;
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

.contenedor-sugerencias .caja-titulo-sugerencias {
    width: 100%;
    margin-left: 3%;
}

.contenedor-sugerencias .caja-titulo-sugerencias .titulo-sugerencias {
    font-size: 1.5rem;
    color: var(--white);
}

.contenedor-sugerencias .caja-sugerencias-ventas {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-bottom: 6%;
    margin-top: 3%;
}

.contenedor-sugerencias .caja-sugerencia {
    width: 30%;
}

.contenedor-sugerencias .caja-sugerencia .img-sugerencia {
    width: 100%;
}

.contenedor-sugerencias .caja-sugerencia .caja-cartel-vendido {
    font-size: 2.5rem;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    position: relative;
    bottom: 60px;
    color: red;
}

.contenedor-sugerencias .caja-sugerencia .caja-cartel-vendido2 {
    display: none;
}

.contenedor-sugerencias .caja-sugerencia .caja-cartel-vendido3 {
    display: none;
}

.slider {
    margin-bottom: 6%;
}

.slider .slides {}

.slider .slides li {}

.slider .slides li img {}

.slider .slides li caption {}

.slider .slides li caption h3 {}

.slider .slides li caption h5 {}