.todo.container {
    margin-top: 10%;
}

.mayor-info {
    position: static;
    margin-top: -27%;
    padding: 5%;
}

.row {
    margin-bottom: 2%;
}

.row div.foto-perfil.col.m2.s4 {
    width: 150px;
    height: 150px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: var(--tealdark);
    border-radius: 50%;
}

div.foto-perfil .btn-flat {
    text-align: center;
    margin-top: 30%;
}


.foto-perfil .btn-flat i {
    color: white;
    scale: 2;
    padding: 2%;
}


input.file-path.validate {
    border: none;
}

div.checkboxes-envio {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.checkboxes-envio p {
    margin: 4%;
}

input[type="text"]:not(.browser-default):disabled {
    color: black;
}

.apagado {
    display: none;
}

a i.fix{
    vertical-align: middle;
}

.nueva-direccion,
.cerrar-nueva-direccion {
    color: var(--tealdark);
}

div.collapsible-header {
    justify-content: space-between;
    border: none;
    background-color: transparent;
}
 ul.collapsible {
     border: none;
     box-shadow: none;

 }


 div.sin-tamaño { 
     height: 0;
     margin: 0;
     padding: 0;
 }