.todo.container {
    margin-top: 10%;
    min-height: 73.8vh;
}

.mayor-info {
    position: static;
    margin-top: -27%;
    padding: 5%;
}

.row {
    margin-bottom: 2%;
}

.links h6 a{
    color: var(--tealdark);
}

.links h6 a:hover {
    color: var(--orangedark);
}

div.row.card-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

form div.card-panel div.foto-perfil.file-field {
    width: 170px;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-color: var(--tealdark);
    margin: auto;
}

div.foto-perfil .btn-flat {
    text-align: center;
}

.foto-perfil .btn-flat i {
    color: white;
    scale: 2;
    padding: 2%;
}

input.boton-examinar {
    height: 170px;
    width: 170px;
    text-align: center;
    margin-top: -100%;
    position: relative;
}

div.file-path-wrapper {
    position: relative;
    margin-top: 100%;
}

input.file-path.validate {
    border: none;
}

.card-panel div.datos-user,
.card-panel div.datos-envios {
    margin: auto;
}

div.checkboxes-envio {
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.checkboxes-envio p {
    margin: 4%;
}

div.div-botones {
    position: relative;
    margin: auto;
    margin-right: 2%;
    
}

input[type="text"]:not(.browser-default):disabled {
    color: black;
}

.apagado {
    display: none;
}

a i.fix{
    vertical-align: middle;
}

.nueva-direccion,
.cerrar-nueva-direccion {
    color: var(--tealdark);
}

div.collapsible-header {
    justify-content: space-between;
    border: none;
    background-color: transparent;
}
 ul.collapsible {
     border: none;
     box-shadow: none;

 }

#mis-direcciones div h6 {
    color: var(--tealdark);
}

#mis-direcciones div h6:hover {
    color: var(--orangedark);
}


 div.sin-tamaño { 
     height: 0;
     margin: 0;
     padding: 0;
 }