*::placeholder{
    color: black;
    opacity: 0.4;
}

main.row {
    width: 50%;
    margin-top: 10%;
}

.row .col.s12 {
    width: 100%;
}

.input-field {
    width: 100%;

}

h2.register-title {
    text-align: center;
    margin: 4%;
}

div.switch {
    text-align: center;
    margin-bottom: 4%;
}

div.switch label {
    font-size: 18px;
}

/* -------------------------------------------- MEDIAQUERIES -------------------------------------------- */

@media (max-width:600px) {

    

}