main.row {
    width:60%;
}

input::placeholder {
    color: black;
    opacity: 0.4;
}

div.checks-box {
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: 2%;
}