@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;600&display=swap');

body {
  font-family: 'Hind',
  sans-serif;
  font-style: normal;
  font-weight: 100;
}

:root {
  --orangedark: #F58F00;
  --orangelight: #FFAF47;
  --tealdark: #27A599;
  --teallight: #ACECE7;
  --white: white;
}

.contenedor {
  margin-top: 10%;
}


