<footer class="piePagina">


    <div class="caja-redes-ayuda-terminos">

        <div class="caja-redesSociales">
            <a href="#" class="redesSociales fb" id="">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" class="redesSociales ig" id="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class="redesSociales wp" id="">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
        <a href="#" class="ayuda" id="">
            Ayuda
        </a>
        <div class="caja-terminos">
        <a href="#" class="terminos" id="">
            Terminos y Condiciones
        </a>
    </div>

    </div>

    <div class="caja-copyright">

        <p class="copyright">Copyright 2020-2021 ArteLibre</p>

    </div>


</footer>