<header id="masthead" role="banner">
    <div class="container-menu">
      <button class="hamburger hamburger--boring" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
        <span class="hamburger-label"></span>
      </button>

       <!-- De aca para abajo, es de der a izq  -->

      <a class="cart" href="/cart"><img src="/images/icons/bolso.png" alt="" srcset=""></a>
      <!-- <span class="icon-cart-label">Carrito</span> -->
      </button>

      <a class="cart"  href="/login"><img src="/images/icons/usuario.png" alt="" srcset=""></a>
      </button>

      <form id="masthead-search">
        <input type="search" name="s" aria-labelledby="search-label" placeholder="Search&hellip;" class="draw">
        <button type="submit">&rarr;</button>
      </form>
      
      <nav id="site-nav" role="navigation">
        <a href="http://">Inicio</a>
        <a href="http://">Galeria</a>
        <a href="http://">¿Como funciona?</a>
        <a href="http://">Interes</a>
        <a href="http://">Nosotros</a>
        <a href="http://">Contacto</a>
      </nav>

    </div>

  </header>