<header id="masthead" role="banner">

   <button class="hamburger hamburger--boring btn-floating teal" type="button">
     <span class="hamburger-box">
       <span class="hamburger-inner"></span>
     </span>
     <span class="hamburger-label"></span>
   </button>

   <!-- De aca para abajo, es de der a izq  -->

   <!-- le tuve que sacar el overflow: hidden para que se pueda ver -->
   <a class="cart btn-floating teal" href="/cart" style="overflow: unset;">
    <i class="material-icons icono-basket">local_mall</i>
    <% if (locals.user) { %>
      <% if(locals.cantItems > 0){ %> 
      <span class="cantItems" style="background-color: var(--orangedark);
      z-index: 2;
      width: 21px;
      height: 21px;
      position: absolute;
      top: 29px;
      right: -3px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;"> <%= locals.cantItems %> </span>
    <% }} %>
  </a>

   <% if (locals.user) { %>
   <!-- Dropdown Trigger -->
    <a class="cart dropdown-trigger btn-floating teal" href="#" data-target='dropdown1'>
     <% let nombre = locals.user.name  %>
     <h4 class="orange-text center-align letra-inicial"><%= nombre.slice(0,1)  %> </h4>
    </a>
   <!-- Dropdown Structure -->
   <ul id='dropdown1' class='dropdown-content'>
     
     <li><a href="/users/profile">Mi perfil</a></li>
     <li><a href="/users/profile/myart">Mi arte</a></li>
     <li>
       <form action="/users/logout" method="post">
         <button class="btn-flat btn-cerrarSesion" type="submit">
           Cerrar sesion
         </button>
       </form>
     </li>
    </ul>
    <% }else{ %>
      <!-- Dropdown Trigger -->
      <a class="cart dropdown-trigger btn-floating teal" href="#" data-target='dropdown1'>
        <i class="material-icons icono-usuario">person_outline</i></a>
      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="/users/login">Inicia Sesión</a></li>
        <li><a href="/users/register">Registrate</a></li>
      </ul>
    <% } %>
      
      <nav id="site-nav" role="navigation">
        <ul class="lista-links">
          <li><a href="/">Inicio</a></li>
          <li><a href="/gallery">Galeria</a></li>
          <li><a href="/#como-funciona">¿Como funciona?</a></li>
          <!-- <li><a href="/#articulosInteres">Interes</a></li> -->
          <li><a href="/#nosotros">Nosotros</a></li>
          <li><a href="/#contacto">Contacto</a></li>
        </ul>
        <!--
        <form id="masthead-search">
          <input type="search" name="s" aria-labelledby="search-label" placeholder="Search&hellip;" class="draw">
          <button type="submit">&rarr;</button>
        </form>
        -->        
      </nav>

  </header>