<!DOCTYPE html>
<html>

 <%- include('partials/head', {title: 'Arte Libre', css: 'index.css'}) %>

  <body>
    <div class="hero">
          <%- include('partials/header') %>
    </div>

      <main>

        <section class="contenedor contenedor-titulo">

            <div class="centrador centrador-titulo">
                
                <div class="fondo-caja-titulo">
                    
                    <h1 class="titulo">Arte Libre</h1>
                    
                </div>

            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------SEPARADOR----------------------------------  -->
        <!-- =========================================================================== -->

        <div class="separador-textura antesDe-slider">

            <div class="centrador centrador-separador">
                <p class="frase">-Así como el sol colorea las flores, el arte también colorea la vida.<br> -John Lubbock.</p>
            </div>

        </div>

        <!-- =========================================================================== -->
        <!------------------------- SLIDER --------------------------->
        <!-- =========================================================================== -->

    <section class="contenedor-fondo-slider">

        <h3 class="titulo-destacados subtitulo">Los más destacados</h3>

                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <div class="carousel">
                                <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro1.jpg"></a>
                                <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro3.jpg"></a>
                                <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro4.jpg"></a>
                                <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/foto1.jpg"></a>
                                <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/foto2.jpg"></a>
                            </div>
                        </div>
                    </div>
                </div>


                    <!-- Botones (no se estan usando ) -->

                    <!-- <div class="botones-slider">

                        <button class="prev">Anterior</button>

                        <button class="next">Siguiente</button>

                    </div> -->

    </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------SEPARADOR----------------------------------  -->
        <!-- =========================================================================== -->

        <div class="separador-textura antesDe-comoFunciona">

            <div class="centrador centrador-separador">

            </div>

        </div>

        <!-- =========================================================================== -->
        <!--------------------- ¿COMO FUNCIONA? COMPRAR - VENDER - REGISTRATE  ------------>
        <!-- =========================================================================== -->

        <section id="como-funciona" class="contenedor-comoFunciona">
            <div class="centrador centrador-comoFunciona">
                <div class="caja-subtitulo">
                    <h3 class="subtitulo subt-comoFunciona">¿Cómo funciona?</h3>
                </div>

                <div class="caja-comprar-vender">

                    <article class="caja-comprar">
                        <div class="card">
                            <div class="adelante">
                                <h4 class="subcaja-subtitulo"> ¿Querés comprar? </h4>
                            </div>
                            <div class="atras">
                                <p class="texto-compraVenta texto-comprar">Para comprar, el primer paso será registrarte. Una vez hecho, obtendrás un perfil y tendrás el acceso ver obras y realizar compras si así lo deseas.</p>
                            </div>
                        </div>
                    </article>

                    <article class="caja-vender">
                        <div class="card">
                            <div class="adelante">
                                <h4 class="subcaja-subtitulo"> ¿Querés vender? </h4>
                            </div>
                            <div class="atras">
                                <p class="texto-compraVenta texto-comprar">Para vender, el primer paso será registrarte. Allí te pediremos una serie de datos necesarios para configurar ciertos parámetros que servirán para la venta. Luego de completar los datos que te pedimos, tendrás tu perfil completado y listo para subir tus obras.</p>
                            </div>
                        </div>
                    </article>

                </div>

                <div class="caja-btn">
                    
                    <div class="fondo-btn">

                        <a href="/users/register" class="a-btn-registrate"><h3 class="btn-registrate">Registrate</h3></a>

                    </div>

                </div>
            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- --------------------ARTICULOS DE INTERES-----------------------------------  -->
        <!-- =========================================================================== -->

        <section class="contenedor-articulosInteres" id="articulosInteres">

            <div class="centrador-articulosInteres">

                <div class="caja-subtitulo">
                    <h3 class="subt-articulos subtitulo">Articulos de Interes</h3>
                </div>

                <div class="caja-articulos">

                    <article class="articulo">
                        <a href="#"  class="a-img-articulo">
                            <img class="img-articulo img-1"  src="https://i.pinimg.com/originals/f9/fc/14/f9fc148cca91a60043995a5510c36a16.jpg" alt="Articulo de interes">
                        </a>
                    </article>

                    <article class="articulo">
                        <a href="#" class="a-img-articulo">
                            <img class="img-articulo img-2" src="https://www.uc.edu.mx/wp-content/uploads/2020/03/antidogmo-redesweb-ch.png" alt="Articulo de interes">
                        </a>
                    </article>

                    <article class="articulo">
                        <a href="#" class="a-img-articulo">
                            <img class="img-articulo img-3" src="https://www.uc.edu.mx/wp-content/uploads/2020/05/WhatsApp-Image-2020-05-13-at-15.31.59.jpeg" alt="Articulo de interes">
                        </a>
                    </article>

                </div>

            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------NOSOTROS-----------------------------------  -->
        <!-- =========================================================================== -->

        <section id="nosotros" class="contenedor-nosotros">

            <div class="centrador centrador-nosotros">
                <div class="caja-subtitulo">
                    <h3 class="subtitulo sub-nosotros">Nosotros</h3>
                </div>

                <div class="caja-texto-nosotros">
                    <p class="nosotros-texto">Somos estudiantes de programación que queremos ayudar, desde nuestro lugar, a la difusión del arte. 
                        Buscamos facilitar la visibilización de los artistas a lo largo y ancho de nuestro país. 
                        Si un ambiente se llena de vida gracias a nuestra página, cumplimos nuestro objetivo. </p>
                </div>

                <div class="caja-imagenes-nosotros">
                    
                    <div class="img-perfil-persona">
                        <img src="https://img.utdstc.com/icons/funny-face-maker-android.png:225" class="img-persona" alt="">
                    </div>
                    
                    <div class="img-perfil-persona">
                        <img src="https://img.utdstc.com/icons/funny-face-maker-android.png:225" class="img-persona" alt="">
                    </div>
                    
                    <div class="img-perfil-persona">
                        <img src="https://img.utdstc.com/icons/funny-face-maker-android.png:225" class="img-persona" alt="">
                    </div>

                </div>
            
            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------SEPARADOR----------------------------------  -->
        <!-- =========================================================================== -->
        
        <div class="separador-textura antesDe-contactanos">

            <!-- =========================================================================== -->
            <!-- -------------------------------CONTACTANOS--------------------------------  -->
            <!-- =========================================================================== -->

            <section id="contacto" class="contenedor contenedor-contactanos">
            
                <div class="centrador centrador-contactanos card-panel">
                    <h4 class="subtitulo center-align">Contactános</h4>
                    <form class="formulario-contactanos col s12" action="" method="GET">
            
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="fullname" type="text" class="validate" name="fullname">
                                <label class="labelForm labelName" for="fullname">Tu nombre y apellido</label>
                            </div>
            
                            <div class="input-field col s6">
                                <input id="email" type="email" class="validate" name="email">
                                <label class="labelForm labelEmail" for="email">Tu email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label class="labelForm labelMessage" for="textarea1">Tu mensaje</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="waves-effect waves-teal btn-flat center-align" type="submit" name="action"
                                style="margin: auto;">Enviar
                            </button>
                        </div>
                    </form>
            
                </div>
            
            </section>

        </div>

     </main>


     <%- include('partials/footer.ejs') %>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/js/header-function.js"></script>
    <script src="/js/carrousel.js"></script>
  </body>
</html>
