<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel='stylesheet' href='/stylesheets/header-style.css'/>
    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"
    />

  </head>
  <body>
    <div class="hero">
          <%- include('partials/header') %>
    </div>

      <main>

        <section class="contenedor contenedor-titulo">

            <div class="centrador centrador-titulo">
                
                <div class="fondo-caja-titulo">
                    
                    <h1 class="titulo">Título</h1>
                    
                </div>

            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------SEPARADOR----------------------------------  -->
        <!-- =========================================================================== -->

        <div class="separador-textura antesDe-slider">

            <div class="centrador centrador-separador">
                <p class="frase">-Así como el sol colorea las flores, el arte también colorea la vida.<br> -John Lubbock.</p>
            </div>

        </div>

        <!-- =========================================================================== -->
        <!------------------------- SLIDER --------------------------->
        <!-- =========================================================================== -->

     <section class="contenedor-fondo-slider">

        <div class="contenedor-slider">

            <div class="centrador centrador-slider">
                

                <div class="caja-subtitulo caja-subt-destacados">
                    <h3 class="subtitulo subt-destacados">Los Más Destacados</h3>
                </div>


                <div class="contenedor-slider">

                    <div class="subcontenedor-slider">

                        <figure><img src="https://www.wallpaperup.com/uploads/wallpapers/2015/08/03/770144/e3ac19c560484c3daf09b5d5715b1d54-700.jpg"></figure>
                        <figure><img src="http://wikiooimg.wikioo.org/ADC/Art.nsf/O/8Y34MD/$File/Francisco-Camilo-Adoration-of-the-Magi-2-.JPG"></figure>
                        <figure><img src="https://lh3.googleusercontent.com/proxy/jurICKGy-bKwK3QpmR39rK6T9IS0KjNFiqNshUaeg_-twwxx1TY0yHMSVabGRMfr3Cg711yOQxaeEhBFOhBjlQw-Gf4_UMSA-WpCC69WmVbGWRpO24wb-IFrDjotZ66nFrlTtLvWMr7B4n5NlwdJDnKlIevycsthcWW2sX1q4yOdNg1NU9f8gebsFvw1VjZ5tLAE9Gv56u-3aoM"></figure>
                        <figure><img src="https://wahooart.com/Art.nsf/O/9GZHJG/$File/FilippinoLippi-TheAdorationoftheMagi.JPG"></figure>
                        <figure><img src="https://lh3.googleusercontent.com/proxy/2NoomzM2y670ergvwdZrMalyfzAByvyG04bTWDWO8T8N7cPvs3RYzk_z8uJSkCayNskOzdmzByUzRjg7tM99OWeATdMfebCpg2-EBXbTONm3CqPcHwt9r3hb1HMZAtZMj8UDl0prkDlLRQ0P"></figure>
                        <figure><img src="https://wahooart.com/Art.nsf/O/8Y3RSF/$File/Luca-Giordano-The-Rape-of-Europa-4-.JPG"></figure>
                        <figure><img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Bartolomeo_Bimbi_-_The_Pumpkin_-_WGA02200.jpg"></figure>
                        <figure><img src="http://wikiooimg.wikioo.org/ADC/Art.nsf/O/8XXKAT/$File/Auguste-Chabaud-Landscape-Blue-.JPG"></figure>
                        <figure><img src="https://wahooart.com/Art.nsf/O/8XYJLZ/$File/Maurice-Prendergast-Bathers.JPG"></figure>
                        <figure><img src="https://2.bp.blogspot.com/-QM72j3eWDIg/UyS59ysFC6I/AAAAAAAAAVw/prKa6N-1sIo/s1600/A-Brief-Tail-of-Love-1017x700.jpg"></figure>

                    </div>

                </div>

            </div>
        
        </div>

     </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------SEPARADOR----------------------------------  -->
        <!-- =========================================================================== -->

        <div class="separador-textura antesDe-comoFunciona">

            <div class="centrador centrador-separador">

            </div>

        </div>

        <!-- =========================================================================== -->
        <!--------------------- ¿COMO FUNCIONA? COMPRAR - VENDER - REGISTRATE  ------------>
        <!-- =========================================================================== -->

        <section id="como-funciona" class="contenedor-comoFunciona">
            <div class="centrador centrador-comoFunciona">
                <div class="caja-subtitulo">
                    <h3 class="subtitulo subt-comoFunciona">¿Cómo funciona?</h3>
                </div>

                <div class="caja-comprar-vender">

                    <article class="caja-comprar">
                        <h4 class="subcaja-subtitulo"> ¿Querés comprar? </h4>
                        <p class="texto-compraVenta texto-comprar">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis aperiam enim odit rem reiciendis? Exercitationem earum necessitatibus molestiae labore!</p>
                    </article>

                    <article class="caja-vender">
                        <h4 class="subcaja-subtitulo"> ¿Querés comprar? </h4>
                        <p class="texto-compraVenta texto-vender">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet facilis aperiam enim odit rem reiciendis? Exercitationem earum necessitatibus molestiae labore!</p>
                    </article>

                </div>

                <div class="caja-btn">
                    
                    <div class="fondo-btn">

                        <a href="#" class="a-btn-registrate"><h3 class="btn-registrate">Registrate</h3></a>

                    </div>

                </div>
            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- --------------------ARTICULOS DE INTERES-----------------------------------  -->
        <!-- =========================================================================== -->

        <section class="contenedor-articulosInteres">

            <div class="centrador-articulosInteres">

                <div class="caja-subtitulo">
                    <h3 class="subtitulo subt-articulos">Articulos de Interes</h3>
                </div>

                <div class="caja-articulos">

                    <article class="articulo">
                        <a href="#"  class="a-img-articulo">
                            <img class="img-articulo img-1"  src="https://i.pinimg.com/originals/f9/fc/14/f9fc148cca91a60043995a5510c36a16.jpg" alt="Articulo de interes">
                        </a>
                    </article>

                    <article class="articulo">
                        <a href="#" class="a-img-articulo">
                            <img class="img-articulo img-2" src="https://www.uc.edu.mx/wp-content/uploads/2020/03/antidogmo-redesweb-ch.png" alt="Articulo de interes">
                        </a>
                    </article>

                    <article class="articulo">
                        <a href="#" class="a-img-articulo">
                            <img class="img-articulo img-3" src="https://www.uc.edu.mx/wp-content/uploads/2020/05/WhatsApp-Image-2020-05-13-at-15.31.59.jpeg" alt="Articulo de interes">
                        </a>
                    </article>

                </div>

                <div class="ir-seccion">
                    <a href="#" class="a-ir-seccion">Ir a la sección ></a>
                </div>

            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------NOSOTROS-----------------------------------  -->
        <!-- =========================================================================== -->

        <section id="nosotros" class="contenedor-nosotros">

            <div class="centrador centrador-nosotros">
                <div class="caja-subtitulo">
                    <h3 class="subtitulo">Nosotros</h3>
                </div>

                <div class="caja-texto-nosotros">
                    <p class="nosotros-texto">Somos estudiantes de programación que queremos ayudar, desde nuestro lugar, a la difusión del arte. 
                        Buscamos facilitar la visibilización de los artistas a lo largo y ancho de nuestro país. 
                        Si un ambiente se llena de vida gracias a nuestra página, cumplimos nuestro objetivo. </p>
                </div>

                <div class="caja-imagenes-nosotros">
                    
                    <div class="img-perfil-persona">
                        <img src="https://img.utdstc.com/icons/funny-face-maker-android.png:225" class="img-persona" alt="">
                    </div>
                    
                    <div class="img-perfil-persona">
                        <img src="https://img.utdstc.com/icons/funny-face-maker-android.png:225" class="img-persona" alt="">
                    </div>
                    
                    <div class="img-perfil-persona">
                        <img src="https://img.utdstc.com/icons/funny-face-maker-android.png:225" class="img-persona" alt="">
                    </div>

                </div>
            
            </div>

        </section>

        <!-- =========================================================================== -->
        <!-- -------------------------------SEPARADOR----------------------------------  -->
        <!-- =========================================================================== -->
        
        <div class="separador-textura antesDe-contactanos">

            <!-- =========================================================================== -->
            <!-- -------------------------------CONTACTANOS--------------------------------  -->
            <!-- =========================================================================== -->

            <section id="contacto" class="contenedor contenedor-contactanos">
            
                <div class="centrador centrador-contactanos card-panel">
                    <h4 class="subtitulo center-align">Contactános</h4>
                    <form class="formulario-contactanos col s12" action="" method="GET">
            
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="fullname" type="text" class="validate" name="fullname">
                                <label for="fullname">Tu nombre y apellido</label>
                            </div>
            
                            <div class="input-field col s6">
                                <input id="email" type="email" class="validate" name="email">
                                <label for="email">Tu email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="textarea1" class="materialize-textarea"></textarea>
                                <label for="textarea1">Tu mensaje</label>
                            </div>
                        </div>
                        <div class="row">
                            <button class="waves-effect waves-teal btn-flat center-align" type="submit" name="action"
                                style="margin: auto;">Enviar
                            </button>
                        </div>
                    </form>
            
                </div>
            
            </section>

        </div>

     </main>


     <%- include('partials/footer.ejs') %>

     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="/js/header-function.js"></script>
  </body>
</html>
