<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/product.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Producto</title>
</head>
<body>
    
      <div class="hero">
          <%- include('partials/header') %>
      </div>
    
    
    <main>

<!-- =========================================================================== -->
<!------------------------- SLIDER --------------------------->
<!-- =========================================================================== -->

    <div class="caja-slider">

        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="carousel">
                        <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro1.jpg"></a>
                        <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/cuadro4.jpg"></a>
                        <a class="carousel-item" href=""> <img class="carousel-img" src="../images/features/foto1.jpg"></a>
                    </div>
                </div>
            </div>
        </div>

    </div>

<!-- =========================================================================== -->
<!------------------- PRECIO + DESCRIPCION + DATOS DEL USUARIO -------------------->
<!-- =========================================================================== -->

        <section class="contenedor-precio-descrip-user">
            
            <div class="caja-precio">

                <div class="precio-carrito">
                    <h2 class="precio">$1200</h2>
                    <button class="btn-agregarCarrito"><i class="fas fa-shopping-cart"></i></button>
                </div>

                <div class="cartel-pop-up">
                    <div class="pop-up-fondo">
                        <p class="texto-pop-up">¡La pieza se ha agregado a tu carrito!</p>
                    </div>
                </div>

            </div>

            <div class="caja-descripcion">
                <div class="caja-descripcion-titulo">
                    <h4 class="descripcion-titulo">Descripción</h4>
                </div>

                <div class="caja-texto-descriptivo">
                    <p class="texto-descriptivo">Nacida en  Chile en el puerto de Valparaiso, estudia inicialmente en un colegio religioso terminando la secundaria en un colegio estatal, estudia Artes en la Universidad de Valdivia y desarrolla el interes por la pintura y el dibujo. Mas tarde se traslada a Punta Arenas ciudad situada al extremo sur del continente americano, alli incia una busqueda artistica pasando por varios estilos y tecnicas, finalmente y gracias a su maestro, un  connotado arquitecto de la zona comienza su etapa realista, aun rebelde con el arte figurativo va descubriendo poco a poco el encanto, el desafio y el encuentro con el pasado en el arte.
                        Asi el arte renacentista de Rembrandt con el claroscuro, la tecnica de Veermer ,entonces busca la transparencia  y la atmosfera de Da Vinci, la magia de Caravaggio.
                        Sabe que el tiempo, la paciencia, la humildad son parte de la paleta, ademas de los colores, hay mucho aun en camino, nunca un cuadro esta terminado siempre hay mucho que aprender.
                        El surrealismo por otro lado es el sentiemiento interno que aflora con colores y formas, la tecnica depurad del realismo y la magia de los maestros del pasado se asocian en la tarea de un tipo de pintura personal, donde una gota de agua tiene la significancia de lo mas grande de la creacion.
                        Actualmente desarrolla arte del dibujo en cuero piragrabado, donde refleja el perfeccionismo del dibujo y el arte de crear, une mundos actuales y del pasado.
                        esta en una constante busqueda por perfeccionar su tecnica, intentando alcanzar sus propios desafios y es "quedar contenta con lo que ha logrado"  </p>
                </div>
            </div>

                <div class="caja-datosUsuario">

                    <div class="datosUsuario-titulo">
                        <h3 class="datosUsuario">Datos del Usuario</h3>
                    </div>

                    <div class="caja-texto-users">
                        <p class="texto-user1">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores commodi odio ipsa vitae quidem harum?</p>
                        <p class="texto-user2">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores commodi odio ipsa vitae quidem harum?</p>
                        <p class="texto-user3">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores commodi odio ipsa vitae quidem harum?</p>
                    </div>
                </div>

                <button class="btn-masCosasArtista">Más cosas del Artista</button>

        </section>

<!-- =========================================================================== -->
<!---------------------------------- COMENTARIOS ---------------------------------->
<!-- =========================================================================== -->

        <section class="contenedor-comentarios">

            <div class="caja-comentarios-titulo">
                <h4 class="titulo-comentarios">Comentarios</h4>
            </div>

            <div class="caja-comentarios">
                <p class="comentarioX">¡Gran artista!</p>
                <p class="comentarioX">Qué agradable sujeto</p>
                <p class="comentarioX">Me encanta su estilo.</p>
            </div>

            <form class="formulario-comentario" action="">
                
                <textarea class="dejarComentario" placeholder="Escribí tu comentario aquí" name="comentario" id=""  rows="5" maxlength="30" ></textarea>
                
                <input class="enviarComentario" type="submit" value="Enviar">
            
            </form>

        </section>

<!-- =========================================================================== -->
<!---------------------------------- SUGERENCIAS ---------------------------------->
<!-- =========================================================================== -->

        <section class="contenedor-sugerencias">

            <div class="caja-titulo-sugerencias">
                <h4 class="titulo-sugerencias">Sugerencias</h4>
            </div>

            <div class="slider">
                <ul class="slides">
                  <li>
                    <img src="../images/bg/arte1.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../images/bg/arte2.jpg"> <!-- random image -->
                    <div class="caption left-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../images/bg/arte3.jpg"> <!-- random image -->
                    <div class="caption right-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                  <li>
                    <img src="../images/bg/arte4.jpg"> <!-- random image -->
                    <div class="caption center-align">
                      <h3>Titulo de la Obra</h3>
                      <h5 class="light red-text text-lighten-3">VENDIDO</h5>
                    </div>
                  </li>
                </ul>
              </div>

        </section>

    </main>


<%- include('partials/footer.ejs') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="js/header-function.js"></script>
    <script src="js/carrousel.js"></script>
    <script src="js/slider.js"></script>
    </body>
</html>