<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Anti-errors (don't touch) -->
    <link rel="stylesheet" href="/stylsheets/normalize.css">
    <!-- CUstom Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/specific-register-style.css">
    <title>Specific Register</title>
</head>

<body>
    <div class="caja-header">
        <header> Reservado para el header</header>
    </div>

    <h2>NECESITAMOS ALGUNOS DATOS MÁS</h2>

    <form id="form-2" class="caja-form">

        <input id="provincia" type="text" placeholder="Provincia">
        <input id="ciudad" type="text" placeholder="Ciudad">
        <input id="lastname" type="text" placeholder="Codigo Postal">

        <input id="calle" type="text" placeholder="calle">
        <input id="numero" type="text" placeholder="numero(- P - D)">

        <input id="telefono" type="tel" placeholder="Número de telefono">

        <span class="payment-methods">
            <label><input type="checkbox" id="efectivo" value="efectivo"> Efectivo contra entrega </label>
            <label><input type="checkbox" id="mercadopago" value="mercadopago"> MercadoPago </label>
        </span>

        <span class="delivery-methods">
            <label><input type="checkbox" id="correoarg" value="correoarg"> Vía Correo Argentino </label>
            <label><input type="checkbox" id="responsable" value="responsable"> A cargo del vendedor </label>
            <label><input type="checkbox" id="en-domicilio" value="en-domicilio"> Retiro en domicilio </label>
            <label><input type="checkbox" id="mensajeria" value="mensajeria"> Servicio de mensajeria </label>
        </span>

        <span id="submit-btn" class="submit-btn">
            <input id="submit" type="submit" value="Quiero publicar!">
        </span>

    </form>

    <div class="caja-footer">
        <footer> Reservado para el footer </footer>
    </div>

</body>

</html>